


Primary Engine Requirements
- Your engine must have a System class that contains a List or Set of GameObjects: Check the class fxengine.system.BaseGameSystem
- Your engine must have a class representing the game world. That class must hold at least one system: Check the class fxengine.objects.GameWorld. it has an attribute call this.mySystems which is a list of game systems

Primary Game Requirements:
- There must be a unit visible in the viewport: start the application and you will see a circle representing a gameobject
- The unit must respond to being clicked (only when the unit itself is clicked)
- The unit must be able to be dragged freely: right click on the gameobject and dragged it
- The unit should be drawn and moved using separate components: I have a component fxengine.componentsTransformComponent to move elements in game space, and the component fxengine.components.MouseControllerBehaviorComponent to move gameobjects in screen space




Secondary Engine Requirements
- The viewport must support zooming (scaling of the currently viewable GameState): scroll the mosue wheel

Secondary Game Requirements 
- There must be a menu from which the player can make a copy of a unity by clicking anddragging it, without the original being destroyed or moved: there is a menu at the right side of the application




It took me around 12 hours to get this far  :D. 
